<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stu.mobilesafe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.stu.mobilesafe.activities.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.stu.mobilesafe.activities.HomeActivity"></activity>
        <activity android:name="com.stu.mobilesafe.activities.LostFindActivity"></activity>
        <activity android:name="com.stu.mobilesafe.activities.Setup1Activity"></activity>
        <activity android:name="com.stu.mobilesafe.activities.Setup2Activity"></activity>
        <activity android:name="com.stu.mobilesafe.activities.Setup3Activity"></activity>
        <activity android:name="com.stu.mobilesafe.activities.Setup4Activity"></activity>
        
        <!-- 注册开机启动的广播接收者，注意也要添加权限 -->
        <receiver android:name="com.stu.mobilesafe.receiver.BootCompleteReceiver">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
            
    </application>

</manifest>
